<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=s1.0">
    <title>ShopMe | eCommerce Website</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="../images/shopMe.png" class="img-responsive" alt="ShopMe">
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="#home"> Home </a></li>
                    <li><a href="#category-section"> Categories </a></li>
                    <li><a href="#about"> About </a></li>
                    <li><a href="#contact"> Contact </a></li>
                    <li><a href="../pages/account.html"> Account </a></li>
                </ul>
            </nav>
            <a href="../pages/cart.html">
                <img src="../images/shopping%20cart.jpeg" alt="Shopping Cart" width="30px" height="30px">
            </a>
            <img src="../images/menu-icon.png" class="menu-icon" alt="Menu" onclick="menutoggle()">

        </div>
        <div class="row" id="home">
            <div class="col-2">
                <h1>Need to shop remotely?<br> Not to worry, we gat you</h1>
                <p>We are reliable, passionate and dedicated to ensure your online shopping experience is as good as or better than the physical one</p>
                <a href="" class="btn">Explore<span>&#10155;</span></a>
            </div>
            <div class="col-2">
                <img src="../images/shoppers.jpg">

            </div>
        </div>
    </div>
</div>


<!--Categories-->
<div class="categories">
    <h2 class="title">Categories</h2>
    <p><b>Hover over image for more deets</b></p>
    <div class="small-container" id="category-section">
        <div class="row">
            <div class="col-3">
                <div class="cat">
                    <img src="../images/supermarket.jpg" alt="Supermarket" >
                </div>
                <div class="details">
                    <div class="content">
                        <a href="../pages/products.html#supermarket"><h2>Supermarket</h2></a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="cat">
                    <img src="../images/healthBeauty.jpeg" alt="Health & Beauty">
                </div>
                <div class="details">
                    <div class="content">
                        <a href="../pages/products.html#health&beauty"><h2>Health & Beauty</h2></a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="cat">
                    <img src="../images/Home%20Office.jpeg" alt="Home & Office">
                </div>
                <div class="details">
                    <div class="content">
                        <a href="../pages/products.html#home&office"><h2>Home & Office</h2></a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="cat">
                    <img src="../images/phone%20and%20tablet.jpeg" alt="Phones & Tablets">
                </div>
                <div class="details">
                    <div class="content">
                        <a href="../pages/products.html#phones&tablets"><h2>Phones & Tablets</h2></a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="cat">
                    <img src="../images/computing.jpeg" alt="Computing">
                </div>
                <div class="details">
                    <div class="content">
                        <a href="../pages/products.html#computing"><h2>Computing</h2></a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="cat">
                    <img src="../images/electronics.jpeg" alt="Electronics">
                </div>
                <div class="details">
                    <div class="content">
                        <a href="../pages/products.html#electronics"><h2>Electronics</h2></a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="cat">
                    <img src="../images/fashion.jpeg" alt="Fashion">
                </div>
                <div class="details">
                    <div class="content">
                        <a href="../pages/products.html#fashion"><h2>Fashion</h2></a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="cat">
                    <img src="../images/gaming.jpeg" alt="Gaming">
                </div>
                <div class="details">
                    <div class="content">
                        <a href="../pages/products.html#gaming"><h2>Gaming</h2></a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="cat">
                    <img src="../images/baby%20products.jpeg" alt="Baby Products">
                </div>
                <div class="details">
                    <div class="content">
                        <a href="../pages/products.html#babyproducts"><h2>Baby Products</h2></a>

                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="cat">
                    <img src="../images/sporting.jpeg" alt="Sporting Goods">
                </div>
                <div class="details">
                    <div class="content">
                        <a href="../pages/products.html#sporting"><h2>Sporting Goods</h2></a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="cat">
                    <img src="../images/garden%20and%20outdoors.jpeg" alt="Garden & Outdoors">
                </div>
                <div class="details">
                    <div class="content">
                        <a href="../pages/products.html#garden&outdoors"><h2>Garden & Outdoors</h2></a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="cat">
                    <img src="../images/others.jpeg" alt="Other Categories">
                </div>
                <div class="details">
                    <div class="content">
                        <a href="../pages/products.html#others"><h2>Other Categories</h2></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Products-->
<div class="small-container">
    <h2 class="title">Products</h2>
    <div class="row">
        <div class="col-4">
            <a href="../pages/product-details.html"><img src="../images" ></a>
            <h4>product-name</h4>
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-o" ></i>
            </div>
            <p>$</p>

        </div>

        <div class="col-4">
            <a href="../pages/product-details.html"><img src="../images"></a>
            <h4>product-name</h4>
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-half-o" ></i>
            </div>
            <p>$</p>

        </div>
        <div class="col-4">
            <a href="../pages/product-details.html"><img src="../images"></a>
            <h4>product-name</h4>
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-o" ></i>
                <i class="fa fa-star-o" ></i>
            </div>
            <p>$</p>

        </div>
    </div>
    <h2 class="title">Latest Products</h2>
    <div class="row">
        <div class="col-4">
            <a href="../pages/product-details.html"><img src="../images"></a>
            <h4>product-name</h4>
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-o" ></i>
            </div>
            <p>$</p>

        </div>

        <div class="col-4">
            <a href="../pages/product-details.html"><img src="../images"></a>
            <h4>product-name</h4>
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-half-o" ></i>
            </div>
            <p>$</p>

        </div>
        <div class="col-4">
            <a href="../pages/product-details.html"><img src="../images"></a>
            <h4>product-name</h4>
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-o" ></i>
                <i class="fa fa-star-o" ></i>
            </div>
            <p>$</p>

        </div>
    </div>

</div>

<!--Offers-->
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <a href="../pages/product-details.html"><img src="../images" class="offer-img"></a>

            </div>
            <div class="col-2">
                <p>Exclusively Available here at ShopMe</p>
                <h2>Product name</h2>
                <small>(description)</small>
                <a href="../pages/product-details.html" class="btn">Buy Now &#10155; </a>
            </div>
        </div>
    </div>
</div>

<!--Testimonials-->
<div class="testimonial" >
    <div class="small-container" id="about">
        <div class="row">
            <div class="col-6">
                <i class="fa fa-quote-left" ></i>
                <p>(Testimony content)</p>
                <div class="rating">
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa fa-star-o" ></i>
                </div>
                <img src="../images/user1.png" alt="User1">
                <h3>Richard Wekesa</h3>
            </div>

            <div class="col-6">
                <i class="fa fa-quote-left" ></i>
                <p>(Testimony content)</p>
                <div class="rating">
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa fa-star-o" ></i>
                </div>
                <img src="../images/user2.jpeg" alt="User2">
                <h3>Simon Nyorora</h3>
            </div>
            <div class="col-6">
                <i class="fa fa-quote-left" ></i>
                <p>(Testimony content)</p>
                <div class="rating">
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa fa-star-o" ></i>
                </div>
                <img src="../images/user3.jpeg" alt="User3">
                <h3>Zawadi Zuhura</h3>
            </div>
             <div class="col-6">
                <i class="fa fa-quote-left" ></i>
                <p>(Testimony content)</p>
                <div class="rating">
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-o" ></i>
                    <i class="fa fa-star-o" ></i>
                </div>
                <img src="../images/user4.jpg" alt="User4">
                <h3>Rehema Bikira</h3>
            </div>
        </div>
    </div>
</div>

<!--Brands-->
<div class="brands">
    <div class="small-container">
        <div class="row">
            <div class="col-5">
                <img src="../images" >
            </div>
            <div class="col-5">
                <img src="../images" >
            </div>
            <div class="col-5">
                <img src="../images" >
            </div>
            <div class="col-5">
                <img src="../images" >
            </div>
            <div class="col-5">
                <img src="../images" >
            </div>

        </div>
    </div>
</div>

<!--Footer-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download App</h3>
                <p>Download for ios and Android mobile phone</p>
                <div class="app-logo">
                    <div><a href="https://www.apple.com/app-store/" target="_blank"><img src="../images/appstore.png" alt=""></a>
                    </div>
                    <div><a href="https://play.google.com/store/apps" target="_blank"><img src="../images/playstore.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="footer-col-2">
                <img src="../images/shopMe.png" alt="">
                <p>At your service</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3 id="contact">Follow Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright"><i class="fa fa-copyright"></i>
            Copyright 2020 - GeminiDevs</p>
    </div>
</div>
<!--js for toggle menu-->
<script>
    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0px";

    function menutoggle(){
        if(MenuItems.style.maxHeight == "0px")
        {
            MenuItems.style.maxHeight = "200px"
        }
        else
        {
            MenuItems.style.maxHeight = "0px"
        }
    }
</script>
</body>
</html>













